.form__container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    row-gap: 20px;
}

.form__title, .personalization__title {
    color: var(--font-white);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.4em;
    line-height: 18px;
    text-transform: uppercase;
}

.form__project {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.info__name, .info__description, .personalization__language {
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: none;
    color: var(--font-white);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 16px;
}

.info__name:focus, .info__description:focus, .personalization__language:focus {
    outline: none;
}

.info__description {
    height: 50px;
    resize: none;
}

.personalization__title {
    margin-top: 20px;
}

.personalization__project {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.language__option {
    background-color: #5081FB;
    color: var(--font-white);
}

.personalization__color {
    background-color: #6BD1FF;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    height: 54px;
}

.info__save {
    background-color: #5081FB;
    border-radius: 8px;
    border: none;
    color: #051D3B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 16px;
}

.info__save:hover {
    opacity: 72%;
    cursor: pointer;
}

/* Tablet */

@media screen and (min-width: 768px) {
    .form__container {
        padding: 32px;
    }

    .personalization__project {
        flex-direction: row;
        justify-content: stretch;
    }

    .personalization__language {
        width: 100%;
    }

    .personalization__color {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .form__container {
        padding: 0;
        justify-self: end;
    }

    .personalization__project {
        flex-direction: column;
    }
}